{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block header %}<h1>{{ project.name }}</h1>{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.user) }}
    <br>

    <button class="button button-submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
